{%
    set body_classes = [
        'unl',
        logged_in ? 'user-logged-in',
        not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
        node_type ? 'page-node-type-' ~ node_type|clean_class,
        db_offline ? 'db-offline',
    ]
%}<!DOCTYPE html>
<html class="no-js"{{ html_attributes }}>
<head>
{% include "/wdn/templates_5.0/includes/global/head-1.html" %}
<title>{{ head_title|safe_join(' | ') }}</title>
{% include "/wdn/templates_5.0/includes/global/head-2.html" %}
<head-placeholder token="{{ placeholder_token|raw }}">
<css-placeholder token="{{ placeholder_token|raw }}">
<js-placeholder token="{{ placeholder_token|raw }}">
</head>
<body data-version="5.0"{{ attributes.addClass(body_classes) }}>
{% include "/wdn/templates_5.0/includes/global/skip-nav.html" %}
{{ page_top }}
{{ page }}
{{ page_bottom }}
{% include "/wdn/templates_4.1/includes/global/noscript.html" %}
{% include "/wdn/templates_4.1/includes/global/js-body.html" %}
<script>
    require(['dialog'],function(dialogHelper){
        var dialog = document.querySelector('#my-dialog');
        dialogHelper.initialize(dialog);
        dialogHelper.setupShowDialogButton(dialog, document.querySelector('#test-button'));
    });
</script>
<js-bottom-placeholder token="{{ placeholder_token }}">
</body>
</html>
