<header class="dcf-header" id="dcf-header" role="banner">

  {{ page.header }}

  {% include "/wdn/templates_5.1/includes/global/nav-toggle-group.html" %}

  {{ page.navlinks }}

</header>

<main class="dcf-main" id="dcf-main" role="main" tabindex="-1">

    {{ page.hero }}

    <div class="dcf-main-content dcf-wrapper">
    <!-- InstanceBeginEditable name="maincontentarea" -->
    {{ page.content_top }}

    {% if page.sidebar_first or page.sidebar_second %}
        <div class="wdn-band"><div class="wdn-inner-wrapper wdn-inner-padding-no-top"><section class="wdn-grid-set">
              {% endif %}

              {% if page.sidebar_first %}
                  <div class="bp768-wdn-col-one-third">
                    {{ page.sidebar_first }}
                  </div>
              {% endif %}

              {% if page.sidebar_first and page.sidebar_second %}
                  <div class="bp768-wdn-col-one-third">
                    {{ page.content }}
                  </div>
              {% elseif page.sidebar_first or page.sidebar_second %}
                  <div class="bp768-wdn-col-two-thirds">
                    {{ page.content }}
                  </div>
              {% else %}
                {{ page.content }}
              {% endif %}

              {% if page.sidebar_second %}
                  <div class="bp768-wdn-col-one-third">
                    {{ page.sidebar_second }}
                  </div>
              {% endif %}

              {% if page.sidebar_first or page.sidebar_second %}
                </section></div></div>
    {% endif %}

    {{ page.content_bottom }}
    <!-- InstanceEndEditable -->
    </div>

</main>
<footer class="dcf-footer" id="dcf-footer" role="contentinfo">
    {% include "/wdn/templates_5.1/includes/global/footer-global-1.html" %}
    <!-- InstanceBeginEditable name="contactinfo" -->
    {{ page.contactinfo }}
    {{ page.leftcollinks }}
    <!-- InstanceEndEditable -->
    {% include "/wdn/templates_5.1/includes/global/footer-global-2.html" %}
</footer>
