<header class="dcf-header" id="dcf-header" role="banner">

    {{ page.header }}

    {% include "/wdn/templates_5.0/includes/global/nav-toggle.html" %}

    <div class="dcf-nav-bar dcf-modal-parent dcf-txt-xs unl-font-sans">

        <button class="dcf-nav-toggle-btn dcf-nav-toggle-btn-menu dcf-flex-col dcf-ai-center dcf-jc-center dcf-w-9 dcf-pt-4 dcf-pr-0 dcf-pb-3 dcf-pl-0 dcf-b-0 dcf-bg-transparent unl-font-sans" id="dcf-menu-toggle" aria-expanded="false">
            <svg class="dcf-h-5 dcf-w-5 dcf-mb-2 dcf-fill-current" aria-hidden="true" focusable="false" width="16" height="16" viewBox="0 0 48 48">
                <path d="M45.5 22.5h-43c-.8 0-1.5.7-1.5 1.5s.7 1.5 1.5 1.5h43c.8 0 1.5-.7 1.5-1.5s-.7-1.5-1.5-1.5zM45.5 7.5h-43C1.7 7.5 1 8.2 1 9s.7 1.5 1.5 1.5h43c.8 0 1.5-.7 1.5-1.5s-.7-1.5-1.5-1.5zM45.5 37.5h-43c-.8 0-1.5.7-1.5 1.5s.7 1.5 1.5 1.5h43c.8 0 1.5-.7 1.5-1.5s-.7-1.5-1.5-1.5z"/>
            </svg>
            <svg class="dcf-mb-1 dcf-h-6 dcf-w-6 dcf-fill-current dcf-d-none" aria-hidden="true" focusable="false" width="16" height="16" viewBox="0 0 48 48">
                <path d="M38.1 7.7L7.7 38.1c-.6.6-.6 1.5 0 2.1.6.6 1.5.6 2.1 0L40.3 9.9c.6-.6.6-1.5 0-2.1-.6-.6-1.6-.6-2.2-.1z"/><path d="M7.7 7.7c-.6.6-.6 1.5 0 2.1l30.4 30.4c.6.6 1.5.6 2.1 0 .6-.6.6-1.5 0-2.1L9.9 7.7c-.6-.5-1.6-.5-2.2 0z"/>
            </svg>
            <span class="dcf-sr-only">Show </span><span class="dcf-nav-toggle-label dcf-txt-3xs dcf-bold dcf-uppercase unl-ls-2">Menu</span>
        </button>

        <div class="dcf-nav-menu dcf-mobile-toolbar-modal dcf-w-100%" id="dcf-navigation">
            <div class="dcf-nav-local-wrapper dcf-w-100%">
                {{ page.navlinks }}
                {{ page.breadcrumb }}
            </div>
        </div>

    </div>

</header>

<main class="dcf-wrapper" id="dcf-main" role="main" tabindex="-1">

    <div class="dcf-bleed{% if unl_hide_page_title %} dcf-sr-only{% endif %}">
        <div class="dcf-wrapper dcf-pt-10 dcf-pb-7">
            <div id="dcf-page-title">
                <!-- InstanceBeginEditable name="pagetitle" -->
                {{ page.pagetitle }}
                <!-- InstanceEndEditable -->
            </div>
        </div>
    </div>

    <!-- InstanceBeginEditable name="maincontentarea" -->
    <?php print $messages; ?>
    <?php if ($tabs): ?><div class="tabs"><?php print render($tabs); ?></div><?php endif; ?>
    <?php print render($page['help']); ?>
    <?php if ($action_links): ?><ul class="action-links"><?php print render($action_links); ?></ul><?php endif; ?>

    {{ page.content_top }}

    {% if page.sidebar_first or page.sidebar_second %}
        <div class="wdn-band"><div class="wdn-inner-wrapper wdn-inner-padding-no-top"><section class="wdn-grid-set">
              {% endif %}

              {% if page.sidebar_first %}
                  <div class="bp768-wdn-col-one-third">
                    {{ page.sidebar_first }}
                  </div>
              {% endif %}

              {% if page.sidebar_first and page.sidebar_second %}
                  <div class="bp768-wdn-col-one-third">
                    {{ page.content }}
                  </div>
              {% elseif page.sidebar_first or page.sidebar_second %}
                  <div class="bp768-wdn-col-two-thirds">
                    {{ page.content }}
                  </div>
              {% else %}
                {{ page.content }}
              {% endif %}

              {% if page.sidebar_second %}
                  <div class="bp768-wdn-col-one-third">
                    {{ page.sidebar_second }}
                  </div>
              {% endif %}

              {% if page.sidebar_first or page.sidebar_second %}
                </section></div></div>
    {% endif %}

    {{ page.content_bottom }}
    <!-- InstanceEndEditable -->

</main>
<footer class="dcf-footer dcf-txt-xs" id="dcf-footer" role="contentinfo">
    {% include "/wdn/templates_4.1/includes/global/footer-global-1.html" %}
    {{ page.contactinfo }}
    {{ page.leftcollinks }}
    {% include "/wdn/templates_4.1/includes/global/footer-global-2.html" %}
</footer>
